<html>

<head>     <link rel="stylesheet" href="/styles/stylesheet.css" > </head>

<header>
             <div>
                           <h1> CoinBankData </h1>

                            <form>
                                <input placeholder="CoinName">
                                <button> Fetch Data </button>
                            </form>

            </div>                 
               
</header>

<body>   

          
            <div class="up"> 
            <p id = "M-6"> </p>
            <P id="M-1"> </P>
            <P id="M-2"> </P>
            <P id="M-3"> </P>
            <P id="M-4"> </P>
            <P id="M-5"> </P>
            <P id="M-7"> </P>
           </div>                                          
                                               
</body>


                     <p class="footer"><h2>Created By Elie Alarou </h6></p>

                     <script src="/js/app.js"></script>

</html>